<h1 class="display-4">Welcome to ArticleBase</h1>

<p class="mb-4">This is a Sails.js app for managing articles</p>

<a class="btn btn-light" href="/articles/list">View Articles</a>
<a class="btn btn-light" href="/articles/add">Add Articles</a>
